html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.img_square {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.bg_dark_red {
    background-color: darkred;
}

.dark_red {
    color: darkred;
}
