

    <nav class="navbar bg_dark_red">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 fs-2 text-light" style="font-family: 'Tangerine', cursive;">Pizzeria Sant'Anna</span>
                    <partial name="_LoginPartial" />
            </div>
        </nav>

